.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  /* background-repeat: round; */
  background-image: linear-gradient(to top right, black, #FC6600);
  height: 100%;
  padding-bottom: 50px;

}

html, body {
  height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

  p {
    font-family: 'Prociono', serif; font-size: 20px;
    font-weight: bold; 
    color: white;
}

#mars {
height: 500px;
width: 300px;
border-radius: 20px;
border: royalblue;
}

h2 {
font-size: 40px;
  font-family: 'Germania One', cursive;
  color: navy;
}

.about {
color: black;
}
#strong {
color: white;
}

#chad {
color: red;
font-family: 'Germania One', cursive;
}

.grid-container {
display: grid;
}

nav {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}

nav:hoover {
  color:red;
}

#john {
  width: 600px;
  height: 450px;
  border-radius: 20px;
}

#doyle {
  
  font-family: 'Prociono', serif;
  font-size: 20px;
  font-weight: bold; 
}



.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  box-sizing: border-box;
flex-wrap: wrap;

}

footer {
  border: 10px solid black;
  border-style: inset;
  background: #bd5007;
  color: rgb(2, 62, 174);
  text-align: center;
  }

.foot {
  width: 25px;
  height: 25px;
padding: 5px;
margin-bottom: -20px;

}
.foot:hover {
  background-color: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 370px) {

  .App {
background-size: cover;
background-position: center;
height: 100%;
  }

  #mars {
    height: 200px;
    width: 175px
  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }

  #john {
height: 250px;
width: 300px; 
}

} 

@media screen and (max-width: 600px) {
  .App {
    background-size: cover;
    background-position: center;
    height: 100%;
      }
    
      #mars {
        height: 200px;
        width: 175px
      }
    
      #john {
        height: 250px;
width: 300px; 
  
      }
}

@media screen and (max-width: 315px) {
  .App {
    background-size: cover;
    background-position: center;
    height: 100%;
      }
    
      #mars {
        height: 200px;
        width: 175px
      }
    
      #john {
        height: 150px;
        width: 205px
    
      }
}

