.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top right, black, #FC6600);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

  p {
    font-family: 'Prociono', serif;
   font-size: 20px;
    font-weight: bold; 
    color: white;
}

#mars {
height: 500px;
weight: 300px;
}

h2 {
  font-family: 'Germania One', cursive;
  color: navy;
}

.about {
color: black;
}
#strong {
color: white;
}

#chad {
color: red;
font-family: 'Germania One', cursive;

}

.grid-container {

}



 #john {
    width: 600px;
    height: 450px;
    border-radius: 20px;
 }

 #doyle {
  
   font-family: 'Prociono', serif;
      font-size: 20px;
   font-weight: bold; 
 }

 form {
   flex-wrap: wrap;
   border-box: 
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {

} 

@media screen and (min-height: 100px) {
  .App {

  }

} 


